/*===============================================RESPONSIVIDADE======================================*/


.navbarMobile div{
    width: 32px;
    height: 2px;
    margin: 8px;
    background-color: #00C2CB;

}


@media only screen and (min-width: 300px) {

    .quemSomosConteudo{
    
        margin-top: 5%;
        width: 250px;
        height: 420px;
    }
    .quemSomos{

        width: 100%;
        margin: 0 auto;
        background-image: url('../img/fundo_gradiente.png');
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    .containerForm{

        width: 100%;
        
    }
    .textoBanner h2 {
        z-index: 0;
        font-size:2.5em;
        color: white;
        margin: 0px 0px 30px 0px;
    }
  }

  @media only screen and (max-width: 400px) {
    .quemSomosConteudo{
    
        margin-top: 5%;
        width: 250px;
        height: 420px;

    }
    .quemSomos{

        width: 100%;
        margin: 0 auto;
        background-image: url('../img/fundo_gradiente.png');
        background-size: cover;
        background-repeat: no-repeat;

    }
     .divSuperior1,.divSuperior3, 
    .divInferior2{
    display: none!important;
    }


    .navbar{
        display: none;
    }
    .navbar-mobile{
        display: block;
    }
    .divNavbar img{
        display: block;
    }
    #menuBurgerr{
        display: block;
    }

    .servicos {

        flex-direction: column;

    }
    .bannerSuperior, .bannerInferior {
        flex-direction: column;
    }

  }
  @media only screen and (min-width: 400px) {

    .quemSomosConteudo{
    
        margin-top: 5%;
        width: 250px;
        height: 420px;

    }
    .quemSomos{

        width: 100%;
        margin: 0 auto;
        background-image: url('../img/fundo_gradiente.png');
        background-size: cover;
        background-repeat: no-repeat;

    }
     .divSuperior1,.divSuperior3, 
    .divInferior2{
    display: none!important;
    }


    .navbar{
        display: none;
    }
    .navbar-mobile{
        display: block;
    }
    .divNavbar img{
        display: block;
    }
    #menuBurgerr{
        display: block;
    }

    .servicos {

        flex-direction: column;

    }
    .bannerSuperior, .bannerInferior {
        flex-direction: column;
    }

 
  }


@media only screen and (min-width: 600px) {

    .quemSomosConteudo{
    
        margin-top: 5%;
        width: 250px;
        height: 420px;
    }
    .quemSomos{

      
        width: 100%;
        margin: 0 auto;
        background-image: url('../img/fundo_gradiente.png');
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    
    
    .navbar{
        display: none;
    }
    .navbar-mobile{
        display: block;
    }
    .divNavbar img{
        display: block;
    }
    #menuBurgerr{
        display: block;
    }
    
  }
  
  @media only screen and (min-width: 800px) {

    
    .divNavbar{
        width: 75%;
    }

    .quemSomosConteudo{
    
        margin-top: 5%;
        width: 300px;
        height: 420px;
    }
    .quemSomos{

      
        width: 100%;
        margin: 0 auto;
        background-image: url('../img/fundo_gradiente.png');
        background-size: cover;
        background-repeat: no-repeat;
    
    }

    .navbar{
        display: flex;
    }.bannerServico{
        display: flex;
        height: 100vh;
    }
    .navbar-mobile{
        display: none;
    }
    .divNavbar img{
        display: none;
    }
    #menuBurger{
        display: none;
    }
    .bannerSuperior, .bannerInferior{

        flex-direction: row!important;

    }
    .sobreBanner {

        height: 100vh;

    }

    

    
}
@media only screen and (min-width: 992px) {
    .quemSomosConteudo{
    
        margin-top: 5%;
        width: 390px;
        height: 420px;
    }
    .bannerSuperior, .bannerInferior{

        flex-direction: row!important;

    }
    
}
@media only screen and (min-width: 1200px) {
    .quemSomosConteudo{
    
        display: flex;
        padding: 1%;
        align-items: center;
        flex-direction: column;
        width: 250px;
        
        background-color: rgba(245, 245, 245, 0.2);
      
        border: #8eabc0 3px solid;
        border-radius: 20px;
       
    }
    .quemSomos{
        height: 100vh;
    }
    .navbar{
        display: flex;
    }
    .navbar-mobile{
        display: none;
    }
    .divNavbar img{
        display: none;
    }
    #menuBurger{
        display: none;
    }
    
}
@media only screen and (min-width: 1400px) {

    .bannerSuperior, .bannerInferior{
        
        flex-direction: row!important;

    }

    .sobreBanner{
        height: 100vh;
    }
    .quemSomos{
        height: 100vh;
    }
  
    .navbar{
        display: flex;
    }
    .navbar-mobile{
        display: none;
    }
    .divNavbar img{
        display: none;
    }
    #menuBurger{
        display: none;
    }
    
}
/*teste*/
