a{
    color: #00C2CB;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Quicksand', sans-serif;
}

a:hover{
    font-weight: bold;
}

.logo img{
    width: 35%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #010E3C;
    height: 15vh;
    width: 100%;
    z-index: 999;
    position: fixed;
}

main{
    background-color: rgb(255, 255, 255);
    background-size: cover;
    height: 88vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.agora{
    font-weight: bolder;
    font-size: 18px;
}

@media (max-width:999px){
    body{
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 12.2vh;
        right: 0;
        width: 25vw;
        height: 100vh;
        background: #010e3cc9;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 999;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
} /* . */

nav.sticky{
    background: #010e3cc9;
}

/*===============================================TELA LOGIN======================================*/
.containerPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.containerForm {
    width: 70%;
    height: 400px;

    display: flex;
}

.conteudoform {
    height: 90%;
    width: 100%;
    padding: 3% 0%;
    margin: 15vh 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardForm {
    width: 100%;
    padding: 0%;

    display: flex;
    border-radius: 40px;

    overflow: hidden;
}

.logoForm {
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #010E3C;
}

.formularioForm {
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(255, 255, 255, 0.4);
    fill-opacity: blur(20px);
}

.formularioForm .tituloForm {
    color: white;
}

.botaoForm {
    padding: 5px 40px;

    background-color: transparent;
    color: white;
    font-size: large;

    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    transition: 1.5s;
}

.botaoForm:hover {
    cursor: pointer;
    background-color: white;
    color: #010E3C;
}

.containerInputsForm {
    width: 80%;
    height: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.containerInputsForm input {
    width: 80%;
    padding: 4px;

    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
    outline: none;

    background-color: transparent;
    color: rgba(255, 255, 255);
}

input::-webkit-input-placeholder {
    color: #FFF;
}

.emailContainer,
.senhaContainer {
    display: flex;
    flex-direction: column;
}
.navbar{
    
    list-style: none;

    
    position: fixed;
}
/*===============================================RESPONSIVIDADE======================================*/
@media only screen and (max-width: 425px) {


    .containerLogin .navbar{
    display: none;
}
.navbar-mobile{
    display: block;
}
.divNavbar img{
    display: block;
}
#menuBurger{
    display: block;
}
}
@media only screen and (min-width: 600px) {
    .navbar{
        display: flex;
        width: 15%;
        justify-content: space-evenly;
    align-items: center;
    }
    .navbar-mobile{
        display: none;
    }
    .divNavbar img{
        display: none;
    }
    #menuBurger{
        display: none;
    }
}
