body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    
}
.containerPrincipal{
    width: 100%;
    background: rgb(70,164,151);
background-image: url(../img/fundo_login.png);
}
/*centralizar*/
.container{
    display: flex;
    width: 80%;
    margin:0 auto ;
    
}/*=========================BANNER=============================================================== */
.banner{
    display: flex;
    justify-content: space-between;
    background-image: url(../img/bg_home1.png);
    
    background-size: cover;
    width: 100%;
    height: 100vh;


}
.textoBanner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 40vh;
    width: 50%;

    margin-top: 10%;
    margin-left: 15%;

}
.textoBanner h2{
    z-index: 0;
    font-size: -webkit-xxx-large;
    color: white;
    margin: 0px 0px 30px 0px;
}
.textoBanner span{
    color: white;
    font-size: larger;
    font-weight: bold;
}
.textoBanner img{
    width: 100%;
    z-index: 1;
}
.redesIcones{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50px;
    margin-right: 3px;

}
.redesIcones img{
    width: 60%;
    margin-top: 10px;
    
}
.btnSobre{
    padding: 1vw;
    background-color: rgba(245, 245, 245, 0);
    border: 3px solid white;
    color: white;
    font-weight: bolder;

}
.btnSobre:hover{

    background-color: white;
    border: 3px solid black;
    color: black;
    cursor: pointer;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 300ms linear;
}

/*=========================Quem Somos=============================================================== */
.quemSomos{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-image: url('../img/fundo_gradiente.png');
    background-size: cover;
    font-size: x-large;


}

.quemSomosCentro{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1%;
    width: 80%;
    margin: 0 auto;
    
    

}
.quemSomosConteudo{
    
    display: flex;
    padding: 1%;
    align-items: center;
    flex-direction: column;
    align-content: center;
    width: 250px;
    height: 60vh;
    
    background-color: rgba(245, 245, 245, 0.2);
  
    border: #8eabc0 3px solid;
    border-radius: 20px;
    
    
    
    
}
.quemSomosConteudo img{
    width: 40%;
}
.quemSomosTexto{
    display: flex;
    width: 75%;
    text-align: center;
}
.quemSomosTexto h3{
    color: white;
}

/*================================================NAVBAR=============================================*/
.header{
    height: 15vh;
    background-color: #010E3C;
    background-size: cover;
    color: #00C2CB;
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 100%;
    z-index: 999;
    position: fixed;
}

/* .headerL{
    height: 15vh;
    background-color: #010E3C;
    background-size: cover;
    color: #00C2CB;
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 100%;
    position: fixed;
} */

.container img{
    width: 35%;
}

.header .container{
    display: flex;
    justify-content:space-between;
}
.banner .container.login ,.container.cadastro{
    justify-content: center;
}



.agora{
    font-weight: bolder;
    font-size: 18px;
}
.navbar{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
}
.navbar a{
    text-decoration: none;
    color: #00C2CB;
}

.navbar button{
    background-color: transparent;
    background-size: cover;
    color: #00C2CB;
    cursor: pointer;
    border: none;
    font-family:  'Quicksand', sans-serif;
    font-size: 15px;
}

.navbar-mobile{
    position: absolute;
    margin-top: 10%;
    right: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 35%;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
   
}
.navbar-mobile li{

    background-color: #010E3C;
    color: white;
    width: 100%;
    padding: 10%;
}
.navbar-mobile li:hover{

    background-color: #00C2CB;
    color: white;
    cursor: pointer;
}
.navbar-mobile a{
    text-decoration: none;
    color: white;
}
.navbar-mobile a:hover{
    text-decoration: none;
    color: white;
}
#menuBurger{
    color: white;
    width: 15%;
    text-align: center;
    padding: 5px;
    justify-content: center;
}
#menuBurger:hover{
    cursor: pointer;
}
#itens{
    display: none;
}
.divNavbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;

}
.divNavbar img{
    width: 25px;

}
.navbar{
    display: none;
}
.material-icons{
    width: 100%;
}
/*================================================SERVIÇOS=============================================*/

.servicos{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    background-image: url('../img/fundofuncocima.png');
    
    
}
.servicos img{
    
    margin-top: 3%;
    width: 75%;

    margin-left: 10%;
   
}
.bannerSuperior, .bannerInferior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bannerServico{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.bannerSuperior, .bannerInferior{
    display: flex;
    align-items: center;
    justify-content: center;
}
.divSuperior1, .divSuperior2, .divSuperior3{

    width: 230px;
    height: 250px;

}

.divInferior1, .divInferior2, .divInferior3{

    width: 250px;
    height: 250px;
}
.bannerServico img{
    width: 100px;
}
.divSuperior1, .divSuperior2, .divSuperior3,
.divInferior1, .divInferior2, .divInferior3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divInferior2{

    width: 100px;
    height: 250px;
}
.bannerServico h2{
    font-size: 1.3em;
    color: white;
}
/*================================================SOBRE=============================================*/
.sobreBanner{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    background-image: url('../img/fundofundobaixo.png');
    
    
}
.texto{
    width: 50%;
}
.titulo{
    color: white;
}
.texto h3{
    color: white;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

/*===========================================FOOTER==========================================*/

.footer{
    background-color: #010E3C;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h3{
    color: white;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #010E3C;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #00C2CB;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: none;  
  }