@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* html {
    margin: 0;
    padding: 0;
} */

body {

    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(289.13deg, #03C8DC 0%, #01558F 28.83%, #003E73 59.87%, #021545 93.23%);
    
}

/* fundo{
    height: 100vh;
    width: 98vw;
    z-index: -1;
    position: fixed;
    
} */

h2 {
    text-align: center;
    color: rgb(255, 255, 255);
}

/*HEADER*/

.header {
    height: 15vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010E3C;
}

.backgroundHeader {
    height: 25vh;
    width: 98vw;
    position: relative;
    position: fixed;
}

.containerHeader {
    height: 17vh;
    width: 98vw;
    display: flex;
    position: relative;
    float: left;
}

a{
    color: #03C8DC;
    font-size: 15px;
    text-decoration: none;
}

.navbar {
    list-style: none;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    width: 30vw;
    padding: 10px;
    color: rgba(0, 194, 203, 1);
}

.headerIcon {
    width: 80%;
    display: flex;
    align-self: center;
    padding: 10px;
}

.fotoUsuario {
    /* margin: 3%; */
    margin-top: 1%;
    height: 10vh;
}

/*MAIN*/

.main {
    height: fit-content;
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerMain {
    margin-top: 1.2%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10% 0; */
}

.caixa {
    /*  background-color: blue;  */
    width: 100%;
    height: 100%;
    display: flex;


}

#imagem_logo_cadastro {
    /* border-radius: 20px 0px 0px 20px;
    border-style: solid;
    border-color: black;
    border-right: none; */
    height: 100%;

}

.box1 {
    border-radius: 80px 0px 0px 80px;
    background-color: #010E3C;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   /*  border-radius: 70px 0px 0px 70px; */
}

.box2 {
    color: black;
  /*   border-radius: 3px;
    border-style: solid;
    border-color: black; */
    border-left: none;
    border-radius: 0px 80px 80px 0px;
    width: 60%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);

   /*  border-radius: 0px 20px 20px 0px; */
}

.titulo_novo_integrante {
    height: 9%;
    margin-top: 1%;
    width: 100%;
    color:#000000;
    font-weight: bold ;
   
}

#h2_novo_integrante {
    font-size: 38px;
}

.div_inputs {
    color: black;
    margin-top: 2%;
}

::placeholder {
    color: white;
}

.inputs_cadastro option {
    font-size: 15px;
    background-color: #010d1e;
    color: white;
    border-radius: 10px;
}

.box2 h2 {
font-size: 20px;
padding: 0;
margin: 0;
}

#imagem_erro{
    height: 25px;
    width: 25px;
    margin-top: 0.2%;
    margin-left: 0.3%;
    position: absolute;
}

#imagem_acerto {
    height: 25px;
    width: 25px;
    position: absolute;
    margin-left: 0.3%;
    margin-top: 0.2%;
}

.navbar li {
    font-size: 25px;
    margin: -5%;
}

.fotoUsuario img {
   
    width: 6vw;
   
}

#mensagem_erro_email {
    font-size:10px;
    position: absolute;
    margin-top: 2%;
    
    
}

.campos_cadastro{
    height: 87.5%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputs_cadastro {
    padding: 7px;
    width: 300px;
    padding: 4px;
    margin-top: 25px;
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
    outline: none;
    background-color: transparent;
    color: rgba(255, 255, 255);
    font-size: medium;
}

input::-webkit-input-placeholder {
    color: #FFF;
}

#id_select {
    width: 240px;
}

#botao_cadastro {
    padding: 5px 40px;
    margin-top: 3vh;
    background-color: transparent;
    color: white;
    font-size: large;

    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    transition: 1.5s;
}

#botao_cadastro:hover{
    cursor: pointer;
    background-color: white;
    color: #010E3C;
}



.boxAplicativo {
    justify-content: space-between;
    display: flex;
    margin: 0 5% 3% 5%;
}

.bordaAplicativo {
    width: 40%;

    color: white;
    cursor: pointer;
}

.bordaCadastro {
    margin: auto;
    width: 90%;
    height: 45%;
    border: 1px solid white;
}

.boxCampoCadastro {
    border-bottom: 1px solid white;
    color: white;
    padding: 1%;
    margin: 1%;
    display: flex;
    justify-content: space-between;
}

.boxButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonCadastrar {
    margin: 3%;
    border: 2px solid white;
    border-radius: 20px;
    padding: 2%;
    cursor: pointer;
    background-color: #010e3c42;
}

/*FOOTER*/

/* .footer {
    width: 98vw;
    height: 20vh;
    display: flex;
}

.navbarFooter {
    width: 90%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    color: white;
} */